* {
  text-align: center;
}

option{
  text-align: left;
}

#product-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  padding-top: 20px;
  border-top: 2px solid #ddd;
}

.product {
  display:flex;
  flex-direction: column;
  width: 200px; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
  background-color: #f9f9f9;
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.title {
  font-weight: bold;
}
